-- Bootloader to fetch latest data from github and run it

print("Installing github module...")

shell.run('pastebin run p8PJVxC4')

print("Cloning repo...")

shell.run('github clone {{REPO_PATH}} -b main')

print("Fetching python...")

shell.run('wget {{PYTHON_URL}} py')

print("Running miner!")

shell.run('py {{REPO_NAME}}/miner/main.py')

print("Lua exit!")